ProjektNaukaSlowek/ClientApp/Connected Services/WcfService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerApp" />
  <xs:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerApp.DTO" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerApp" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerApp" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SprawdzDaneLogowania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="haslo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SprawdzDaneLogowaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprawdzDaneLogowaniaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrzekazDaneDoZalogowania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrzekazDaneDoZalogowaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerApp.DTO" minOccurs="0" name="PrzekazDaneDoZalogowaniaResult" nillable="true" type="q3:Logowanie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajUzytkownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="haslo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nazwisko" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajUzytkownikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzLoginyMaileImiona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzLoginyMaileImionaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerApp.DTO" minOccurs="0" name="PobierzLoginyMaileImionaResult" nillable="true" type="q4:ArrayOfUwierzytelnianie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WyslijMailaRejestracja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="haslo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nazwisko" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WyslijMailaRejestracjaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RozpocznijNauke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formaNauki" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jezyk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poziom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RozpocznijNaukeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerApp.DTO" minOccurs="0" name="RozpocznijNaukeResult" nillable="true" type="q5:FormyNauki" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LosujSlowkoDoFiszki">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jezyk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poziom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LosujSlowkoDoFiszkiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerApp.DTO" minOccurs="0" name="LosujSlowkoDoFiszkiResult" nillable="true" type="q6:Slowka" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerujToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerujTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerApp.DTO" minOccurs="0" name="GenerujTokenResult" nillable="true" type="q7:Sesja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzKategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzKategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServerApp.DTO" minOccurs="0" name="PobierzKategorieResult" nillable="true" type="q8:ArrayOfSlowka" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>