ProjektNaukaSlowek/ClientApp/Connected Services/WcfService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerApp" />
      <xsd:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerApp.DTO" />
      <xsd:import schemaLocation="http://localhost:64114/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SprawdzDaneLogowania_InputMessage">
    <wsdl:part name="parameters" element="tns:SprawdzDaneLogowania" />
  </wsdl:message>
  <wsdl:message name="IService1_SprawdzDaneLogowania_OutputMessage">
    <wsdl:part name="parameters" element="tns:SprawdzDaneLogowaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrzekazDaneDoZalogowania_InputMessage">
    <wsdl:part name="parameters" element="tns:PrzekazDaneDoZalogowania" />
  </wsdl:message>
  <wsdl:message name="IService1_PrzekazDaneDoZalogowania_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrzekazDaneDoZalogowaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DodajUzytkownika_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajUzytkownika" />
  </wsdl:message>
  <wsdl:message name="IService1_DodajUzytkownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajUzytkownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PobierzLoginyMaileImiona_InputMessage">
    <wsdl:part name="parameters" element="tns:PobierzLoginyMaileImiona" />
  </wsdl:message>
  <wsdl:message name="IService1_PobierzLoginyMaileImiona_OutputMessage">
    <wsdl:part name="parameters" element="tns:PobierzLoginyMaileImionaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WyslijMailaRejestracja_InputMessage">
    <wsdl:part name="parameters" element="tns:WyslijMailaRejestracja" />
  </wsdl:message>
  <wsdl:message name="IService1_WyslijMailaRejestracja_OutputMessage">
    <wsdl:part name="parameters" element="tns:WyslijMailaRejestracjaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RozpocznijNauke_InputMessage">
    <wsdl:part name="parameters" element="tns:RozpocznijNauke" />
  </wsdl:message>
  <wsdl:message name="IService1_RozpocznijNauke_OutputMessage">
    <wsdl:part name="parameters" element="tns:RozpocznijNaukeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ZwrocTlumaczenieSlowka_InputMessage">
    <wsdl:part name="parameters" element="tns:ZwrocTlumaczenieSlowka" />
  </wsdl:message>
  <wsdl:message name="IService1_ZwrocTlumaczenieSlowka_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZwrocTlumaczenieSlowkaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GenerujToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerujToken" />
  </wsdl:message>
  <wsdl:message name="IService1_GenerujToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerujTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SprawdzDaneLogowania">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SprawdzDaneLogowania" message="tns:IService1_SprawdzDaneLogowania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SprawdzDaneLogowaniaResponse" message="tns:IService1_SprawdzDaneLogowania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrzekazDaneDoZalogowania">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrzekazDaneDoZalogowania" message="tns:IService1_PrzekazDaneDoZalogowania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrzekazDaneDoZalogowaniaResponse" message="tns:IService1_PrzekazDaneDoZalogowania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajUzytkownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DodajUzytkownika" message="tns:IService1_DodajUzytkownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DodajUzytkownikaResponse" message="tns:IService1_DodajUzytkownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PobierzLoginyMaileImiona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PobierzLoginyMaileImiona" message="tns:IService1_PobierzLoginyMaileImiona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PobierzLoginyMaileImionaResponse" message="tns:IService1_PobierzLoginyMaileImiona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WyslijMailaRejestracja">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WyslijMailaRejestracja" message="tns:IService1_WyslijMailaRejestracja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WyslijMailaRejestracjaResponse" message="tns:IService1_WyslijMailaRejestracja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RozpocznijNauke">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RozpocznijNauke" message="tns:IService1_RozpocznijNauke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RozpocznijNaukeResponse" message="tns:IService1_RozpocznijNauke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZwrocTlumaczenieSlowka">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ZwrocTlumaczenieSlowka" message="tns:IService1_ZwrocTlumaczenieSlowka_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ZwrocTlumaczenieSlowkaResponse" message="tns:IService1_ZwrocTlumaczenieSlowka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerujToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GenerujToken" message="tns:IService1_GenerujToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GenerujTokenResponse" message="tns:IService1_GenerujToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprawdzDaneLogowania">
      <soap:operation soapAction="http://tempuri.org/IService1/SprawdzDaneLogowania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrzekazDaneDoZalogowania">
      <soap:operation soapAction="http://tempuri.org/IService1/PrzekazDaneDoZalogowania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DodajUzytkownika">
      <soap:operation soapAction="http://tempuri.org/IService1/DodajUzytkownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PobierzLoginyMaileImiona">
      <soap:operation soapAction="http://tempuri.org/IService1/PobierzLoginyMaileImiona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WyslijMailaRejestracja">
      <soap:operation soapAction="http://tempuri.org/IService1/WyslijMailaRejestracja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RozpocznijNauke">
      <soap:operation soapAction="http://tempuri.org/IService1/RozpocznijNauke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZwrocTlumaczenieSlowka">
      <soap:operation soapAction="http://tempuri.org/IService1/ZwrocTlumaczenieSlowka" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerujToken">
      <soap:operation soapAction="http://tempuri.org/IService1/GenerujToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64114/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>