TestNaukaSlowek/ClientApp/Connected Services/WcfService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerApp.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerApp.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59679/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Logowanie">
    <xs:sequence>
      <xs:element minOccurs="0" name="CzyZalogowany" type="xs:boolean" />
      <xs:element minOccurs="0" name="Haslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Logowanie" nillable="true" type="tns:Logowanie" />
  <xs:complexType name="ArrayOfUwierzytelnianie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Uwierzytelnianie" nillable="true" type="tns:Uwierzytelnianie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUwierzytelnianie" nillable="true" type="tns:ArrayOfUwierzytelnianie" />
  <xs:complexType name="Uwierzytelnianie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Uwierzytelnianie" nillable="true" type="tns:Uwierzytelnianie" />
  <xs:complexType name="ArrayOfFormyNauki">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormyNauki" nillable="true" type="tns:FormyNauki" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormyNauki" nillable="true" type="tns:ArrayOfFormyNauki" />
  <xs:complexType name="FormyNauki">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormaNauki" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jezyk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poziom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormyNauki" nillable="true" type="tns:FormyNauki" />
  <xs:complexType name="Slowka">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Jezyk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poziom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Slowko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tlumaczenie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slowka" nillable="true" type="tns:Slowka" />
  <xs:complexType name="Sesja">
    <xs:sequence>
      <xs:element minOccurs="0" name="CzasOstatniejAkcji" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CzasZalogowania" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdUzytkownika" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaTokenow" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sesja" nillable="true" type="tns:Sesja" />
  <xs:complexType name="ArrayOfSlowka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Slowka" nillable="true" type="tns:Slowka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlowka" nillable="true" type="tns:ArrayOfSlowka" />
  <xs:complexType name="Rejestracja">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Logowanie">
        <xs:sequence>
          <xs:element minOccurs="0" name="CzyAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Rejestracja" nillable="true" type="tns:Rejestracja" />
</xs:schema>